.darkScheme body {
  background: rgb(26, 26, 26);
  color: #75f079;
}

.darkScheme .exturl a {
  &:hover {
    color: white;
  }
}

.darkScheme .footer {
	background: rgb(26, 26, 26);
  color: #75f079;
}

.darkScheme .header {
  background: rgb(29, 29, 29);
}

.darkScheme .header-inner{
  background: rgb(26, 26, 26);
}

.darkScheme .sidebar-inner {
	background: rgb(26, 26, 26);
  color: #75f079;
}

.darkScheme .site-author-name{
  color: #75f079;
}

.darkScheme .links-of-author-item a:hover{
  background: #222;
}

.darkScheme .sidebar a:hover{
  color: #fff;
}

.darkScheme post-expand {
	background: rgb(26, 26, 26);
}

.darkScheme .site-title {
	//background: #75f079;
	color: #75f079;
}

.darkScheme .note.info {
	background: #75f079;
  p {
    color: black;
  }
}

.darkScheme .post-block {
	color: #75f079;
  background: rgb(26, 26, 26);
}

.darkScheme .post-title-link {
	color: #75f079;
}

.darkScheme .copy-btn {
	background: rgb(26, 26, 26);
  color: #75f079;
}

.darkScheme .btn {
	background: rgb(26, 26, 26);
  color: #75f079;
}

.darkScheme .btn:hover {
	background: #222;
  color: #75f079;
}

.darkScheme .post-copyright {
	background-color: rgb(26, 26, 26);
}

.darkScheme .menu .menu-item a {
	color: #75f079;
}

.darkScheme .menu-item-active a, .darkScheme .menu .menu-item a:hover, .darkScheme .menu .menu-item span.exturl:hover {
  background: blue;
}

.darkScheme .tag-cloud a{
  color: #ffffff69 !important;
}


.darkScheme .tag-cloud a:hover{
  color: #fff !important;
}

.darkScheme a:hover{
  color: #999;
  border-bottom-color: #999;
}

.darkScheme a{
  border-bottom-color: #666;
}
